#chart_div {
    display: flex;
    float: left;
}
#result{
    display: flex;
    float: right;
}

.row1{
    height: 400px;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.big{
    font-size: xx-large;
}
