<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Load Forcaster</title>

    <!-- Bootstrap -->
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<style type="text/css">
    .container {
        width: 100%;
        height: 100vh;
    }

    #map {
        height: 80vh;
        width: 100%;
    }

    #form-layout {
        height: 80vh;
    }

    form {
        width: 100%;
    }

    .navbar-custom {
        background-color: #fae1cb;
    }
</style>
<body>
<div class="container">
    <nav class="navbar navbar-custom">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    Load ForeCaster
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/api/drivers/generate">Reset</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <center>
      <form class="form-inline">
          <label for="city-selector">Select City</label>
          <select class="js-example-basic-single col-xs-12 col-md-4 col-sm-4" name="state" id="city-selector">

  <option value="AL">Alabama</option>
  <option value="WY">Wyoming</option>
</select>
{#    <input class="form-control mr-sm-5" type="search" placeholder="Select City" aria-label="Search">#}
{#    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
  </form>
    </center>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-6">
            <div id="map"></div>
            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="range-from">From</label>
                        <input type="date" id="range-from">
                    </div>
                    <div class="form-group">
                        <label for="range-to">To</label>
                        <input type="date" id="range-to">
                    </div>
                    <button class="form-control">
                        Change Date Range
                    </button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6" id="form-layout">
            <div class="col-xs-12 col-md-6 col-sm-6" id="cab-book-msg">
                <h1 id="load-estimate">
                    Usage: 230KW
                </h1>
                <p id="estimate-place">
                    Place: Gandhinagar
                </p>
                <p id="estimate-date">
                    Date: 23/03/2018
                </p>

                <form>
                    <div class="form-group">
                        <label for="date-picker">
                            Change Date
                        </label>
                        <input type="date" id="date-picker" class="form-control" placeholder="">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

    var data = google.visualization.arrayToDataTable([
          ['Date', 'Predicted'],
        {% for load in load_data %}
        [ '{{ load[1] }}',{{ load[0]}}],
        {% endfor %}

      ]);
    var options = {'title':'Load History of Gandhinagar',
                    // 'height': chart_height,
                    // 'width': chart_width,
                    'animation':{
                        'duration': 1000,
                        'easing': 'out',
                        'startup': true
                    }};

      var chart = new google.visualization.LineChart(document.getElementById('map'));
      chart.draw(data, options);
      }
</script>
{#<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>
</body>
</html>