{% extends 'base.html' %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hello.css') }}">
{% endblock %}
{% block content %}
  <div class="row1">
    <div id="chart_div"></div>
    <div id="result"><p class="big">455 MU</p> would be used in <p class="city">Gandhinagar</p> Tomorrow
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}